[user]
  name  = name
  email = email

[core]
	editor = vim

[color]
   ui     = auto
   branch = auto
   status = auto
   diff   = auto
   interactive = auto

[color "branch"]
  current = yellow reverse
  local   = yellow
  remote  = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old  = red bold
  new  = green bold

[color "status"]
  added     = yellow
  changed   = green
  untracked = cyan

[alias]
    cm = commit -m
    st = status
    co = checkout
    br = branch
    lg = log --decorate --oneline --graph --format=\"%C(auto)%h %d%Creset %s (%C(green)%cn%C(reset)) (%C(red)%cr%C(reset))\"
    update = !git pull --rebase --recurse-submodules && git submodule update --init
    di = difftool

[branch "master"]
    rebase = true

