[user]
  name  = name
  email = email

[include]

[color]
   ui     = auto
   branch = auto
   status = auto
   diff   = auto
   interactive = auto

[color "branch"]
  current = yellow reverse
  local   = yellow
  remote  = green


[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old  = red bold
  new  = green bold

[color "status"]
  added     = yellow
  changed   = green
  untracked = cyan

[alias]
    st = status
    co = checkout
    br = branch
    lg = log --decorate --oneline --graph --format=\"%C(auto)%h %d%Creset %s (%C(green)%cn%C(reset)) (%C(red)%cr%C(reset))\"
    update = !git pull --rebase --recurse-submodules && git submodule update --init

[diff]
    tool = kdiff3

[difftool "meld"]
     cmd = kdiff3 "$LOCAL" "$REMOTE"

[merge]
    tool = kdiff3

[mergetool "meld"]
#   cmd = kdiff3 "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
    cmd = kdiff3 "$LOCAL" "$BASE" "$REMOTE" --output "$MERGED"

[branch "master"]
    rebase = true
